<div class="sign-in">
  <div class="sign-in-header">
    <h1 class="sign-in-title">Sign in</h1>
  </div>

    <div class='form-wrap'>
      <%= form_with model: @user, url: new_user_session_path, class: 'session-main', local: true do |f| %>
        <div class='login-flash-message'>
        <% if flash.alert.present? %>
          <p id="alert"><%= flash[:alert] %></p>
        <% end %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, class:"input-default", id:"email", placeholder:"Email", autofocus: true %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, class:"input-default", id:"password", placeholder:"Password", minlength:"6", autofocus: true %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <%= f.submit "Sign In" ,class:"session-btn" %>

      <% end %>
    <div>

    <div class="sns-login">
      <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "google-login" do %>
        <img src="https://img.icons8.com/fluent/20/000000/google-logo.png"/>
        Sign In using Google
      <% end %>
      <%= link_to user_facebook_omniauth_authorize_path, method: :post, class: "fb-login" do %>
        <img src="https://img.icons8.com/color/20/000000/facebook-new.png"/>
        Sign In using Facebook
      <% end %>
    </div>


</div>